:root {
  --blue: #007FFF;
  --db: #005A9C;
  --grey: #393f4d;
  --purple: #161748;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Kanit', sans-serif;
  background-color: var(--grey);
}

.contents {
  margin: 0% 10% 0% 10%;
  color: white;
}

.contents p {
  font-size: 24px;
  line-height: 40px;
  font-weight: normal;
}

.contents h2 {
  font-size: 30px;
  font-weight: bold;
}

.contents hr{
  border: 3px solid var(--blue);
  border-radius: 10px;
  margin: 50px 0px 50px 0px;
  
}

.contents .hr1 {
  margin: 0px 0px 0px 20px 0px;
}


.contents .exemplar .imagecontainer {
  display: grid;
  width: 100%;
  justify-content: center;
  grid-template-columns: auto auto auto;

}

.contents .exemplar .imagecontainer img{
  width: inherit;
  padding: 20px 20px 20px;
  filter: drop-shadow(50%);
}

.contents .exemplar p {
  text-align: center;
}

.contents .exemplar a {
  text-decoration: none;
  color: white;
  margin: 0px 20px 0px 0px;
  padding: 0px 5px 0px 5px;
  border-radius: 10px;
  border: 3px solid var(--blue);
}

.contents .exemplar .photos:hover {
  background-color: var(--purple);
  transition: 0.8s ease;
}


/* .contents p{
  margin: 20px 0px 0px 0px;
  font-size: 25px;
  font-weight: normal;

} */

.contents nav {
  height: 100px;
  line-height: 40px;
  padding: 30px 0px 30px 0px;
}

.contents nav a {
  float: left;
  font-size: 50px;
  text-decoration: none;
  font-weight: 500;
  color: white;
  
}


.contents nav .links {
  float: right;
  margin: 0px 0px 0px 0px;
}


.contents nav .links a {
  margin: 0px 0px 0px 25px;
  padding: 0px 13px 0px 13px;
  border: 3px solid var(--blue);
  border-radius: 10px;
  font-size: 25px;
  font-weight: 350;
}

.contents nav .links a:hover {
  background-color: var(--purple);
  transition: 0.8s ease;
}

.contents .heading {
  margin: 50px 0px 0px 0px;
  text-align: left;
}

.contents .hr2 {
  margin: 50px 0px 0px 0px;
}

.contents footer {
  margin: 50px 0px 50px 0px;
  bottom: 0%;
  width: 100%;
  text-align: center;
  height: auto;
}

.contents footer .grid {
  grid-template-columns: auto auto;
  display: grid;
}

.contents footer .grid .contact li, .contents footer .grid .socialMedia li {
  list-style-type: none;
}

.contents footer .socialMedia li a {
  display: block;
  line-height: 40px;
  font-size: 24px;
  margin: 20px 0px 0px 0px;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
  color: white;
  font-weight: normal;
  border: 3px solid var(--blue);
  border-radius: 10px;
}

.contents footer .socialMedia li a:hover{
  background-color: var(--purple);
  transition: 0.8s ease;
}

.contents footer .grid li p {
  font-size: 24px;
  margin: 20px 0px 0px 0px;
  border: 3px solid transparent;
  padding: 5px 10px 5px 10px;
  font-weight: normal;
  line-height: 40px;
  width: inh;
}

.contents footer .grid .contact li .contents p{
  text-align: left;
}



@media (max-width: 2000px) {

  .contents nav .links {
    display: none;
  }

  .contents nav .container {
    float: right;
    
  }
  
  .contents nav .container .bar1, .contents nav .container .bar2, .contents nav .container .bar3 {
    width: 50px;
    background-color: white;
    height: 8px;
    border-radius: 5px;
  }

  .contents nav .container .bar2, .contents nav .container .bar3{
    margin: 8px 0px 0px 0px;
  }


  #compactMenu a{
    text-align: center;
    display: block;
    text-decoration: none;
    color: white;
    margin: 20px;
    border: 3px solid var(--blue);
    padding: 20px 0px 20px 0px;
    font-size: 24px;
    border-radius: 10px;
    transition: width 1.2s;
  }


}